h1{

text-align: left;
 color: green;
}

/* div {
background-color: gray;
margin-left: 0px} */
p.big{
text-align: center;
font-size: 1em;>
}

p.little{ text-align: center;
font-size: 1em;>
}


/* img {
  margin: 0 40%;
} */


h1{
  background-color: silver;
  margin: 0 0 0 0;

}

a {
  color: white;
  line-height: 30px;
  padding: 10px;
}

nav {
background-color: black;
padding:  10px 0% 10px 10px;
display: flex;
justify-content: space-around;
}

.nav-button {
  background-color: purple;
  height: 30px;
  border-radius: 15%;
}

.about-box {
  display: flex;
  border: 2px solid black;
  width: 80%;
  margin-left: 10%;

}

div.left-side {
  width: 50%;
  border: 2px solid black;
}

.about-photo {
  display: block;
  margin: 0 auto;
  border: 6px solid black;
}


.about-title {
  text-align: center;
}

.about-label {
  text-align: center;
}



.product {
width: 400px;
border: 2px solid blue;
margin: 10px 5px 10px 20px;
}

.product-photo {
  display: block;
  margin: auto;

}

.product-title{
  text-align: center;

}
.product-text{
  text-align: center;
  color: green
}
 .products-container{
   text-align: center;
  color: white;
}
.galaxy{
display: block;
margin: 0 auto;
align: center;
}
.welcome {
  text-align: center;
  background-color: black:
}

.homepage-container {
  background-image: url("./Photos/black back.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;;
}

.abouthome {
  text-align: center;
  color: green
}

.Chatwelcome {
  text-align: center;
  color: green;
  font-size: 1.3em;
  background-color: gray:
}


.about-us {
  text-align: center;
  color: green
}

.welcome {
  text-align: left;
  background-color: black;
  color: green;
  text-align: center;
  font-size: 1.3em;
